.duvida h3 {
  border: 2px solid #ff725e;
  border-radius: 8px;
  cursor: pointer;
  padding: 24px;
}

.duvida img {
  position: absolute;
  top: 32px;
  right: 24px;
}

.duvida .paragrafo {
  border-right: 1px solid#ff725e;
  border-bottom: 1px solid #ff725e;
  border-left: 1px solid #ff725e;
  border-radius: 0 0 8px 8px;
  margin-top: -8px;
  padding: 0 24px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.2s;
}
.duvida.ativa .paragrafo {
  height: fit-content;
  opacity: 1;
  padding: 24px;
}
